.card-class{
    margin: 3%;
    width: 25%;
    text-align: left;
    float: left;
    min-height: 100px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px; /* Add padding to prevent touching the screen edges */
  }
  
  .content-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  
  .chart-container {
    flex: 1;
    margin-right: 20px;
    min-width: 50%;
  }
  
  .table-container {
    flex: 1;
    overflow-x: auto;
    min-width: 50%;
    margin-right: 20px; /* Ensure there is a margin on the right side */
  }
  
  .table-wrapper {
    display: block;
    overflow-x: auto;
  }
  
  .table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  
  .table-responsive::-webkit-scrollbar {
    display: none; /* Hide scrollbar for WebKit browsers */
  }
  
  .mat-table {
    width: 100%;
    min-width: 1000px; /* Adjust this value based on the number of columns */
    border-collapse: collapse; /* Ensure borders are collapsed for a clean look */
  }
  
  .mat-header-cell, .mat-cell {
    border: 1px solid #e0e0e0; /* Set border for table cells */
  }
  
  .mat-header-row, .mat-row {
    display: flex; /* Ensure rows are displayed as flex */
  }
  
  .mat-header-cell {
    font-weight: bold; /* Make header cell text bold */
    background-color: #f5f5f5; /* Optional: Add a background color for header */
  }
  
  .mat-cell:last-child,
  .mat-header-cell:last-child {
    border-right: none; /* Remove the right border from the last column */
  }
  
  @media screen and (max-width: 600px) {
    .responsive-column {
      display: none;
    }
    .responsive-column:nth-child(1),
    .responsive-column:nth-child(2),
    .responsive-column:nth-child(3) {
      display: table-cell;
    }
  }
  
  @media screen and (min-width: 601px) and (max-width: 960px) {
    .responsive-column {
      display: none;
    }
    .responsive-column:nth-child(1),
    .responsive-column:nth-child(2),
    .responsive-column:nth-child(3),
    .responsive-column:nth-child(4),
    .responsive-column:nth-child(5) {
      display: table-cell;
    }
  }
  
  @media screen and (min-width: 961px) {
    .responsive-column {
      display: table-cell;
    }
    
    
  }
 

.filter-field {
  position: relative;
  right:100px;
  top: 9px;
  }

button[mat-button] {
  margin-left: 16px;
}
  