body {
    background-color: #f6fafd;
  }
  .table th {
    background-color: #013220;
    color: white;
    text-align: center;
  }
  .table td {
    text-align: center;
    vertical-align: middle;
  }
  .status-incomplete {
    color: red;
    text-decoration: underline;
    cursor: pointer;
  }
  .status-complete {
    color: green;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
  }
  .approved-status {
    color: #0000EE;
    text-decoration: underline;
    cursor: pointer;
  }
  .delete-link {
    color: #0000EE;
    text-decoration: underline;
    cursor: pointer;
  }
  .card {
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }