.text-underline {
    display: inline-block;
    border-bottom: 4px solid #000; /* Thickness */
    padding-bottom: 4px;
  }
  
  @media print {
    body * { visibility: hidden; }
    #certificate, #certificate * { visibility: visible; }
    #certificate { position: absolute; left: 0; top: 0; width: 210mm; }
  }
  #certificate table {
    border-collapse: collapse !important;
  }
  #certificate th, #certificate td {
    border: 1px solid black !important;
    padding: 8px !important;
  }

  #certificate { font-family: 'Roboto', sans-serif; }

  .qr-border {
    border: 3px solid #000;   
    /* padding: 8px; */
    border-radius: 6px;       
    background: #fff;         
  }


  /* test */
  .qr-container {
    position: relative;
    display: inline-block;
  }
  
  .qr-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 28px;
    height: 28px;
    transform: translate(-50%, -50%);
    background: white;
    padding: 2px;
    border-radius: 4px;
  }
  
  