.card-text{
display: inline;
}

@keyframes flash {
    0%, 100% {
      opacity: 1; /* Fully visible */
    }
    50% {
      opacity: 0; /* Fully invisible */
    }
  }
  
  .flashing-text {
    animation: flash 8s infinite; /* Flash every 1 second */
  }
