.card {
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  #indentDate {
    text-align: center;
  }
  
  button.btn-success {
    background-color: #28a745;
    border: none;
    padding: 10px 0;
    font-weight: bold;
  }
  