/* styles.css or opening-stock-report.component.css */

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  
  .container.report-container {
    flex: 1;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .report-title {
    font-size: 24px;
    color: red;
  }
  
  .back-button {
    margin-right: 20px;
  }
  
  .report-date {
    font-size: 18px;
    color: black;
  }
  
  .table-responsive {
    margin-top: 20px;
  }
  
  .table th,
  .table td {
    text-align: center;
  }
  
  .table th {
    background-color: darkgreen;
    color: white;
  }
  
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #f2f2f2;
  }
  
  .table-hover tbody tr:hover {
    background-color: #ddd;
  }
  
  .footer {
    background-color: #012901;
    text-align: center;
    padding: 10px 0;
    margin-top: 30%;
    

  }
  
  .footer a {
    text-decoration: none;
    color: white;
  }
  