h4{
    font-size: small; 
    color: white; 
    margin-top: 12px;
    text-decoration: underline; /* Underline for link appearance */
    cursor: pointer; /* Pointer cursor to indicate clickable */
}
h4:hover{
    color: cyan; /* Darker color on hover */
}

.mat-toolbar.mat-dark {
    background: #000;
    color: #fff;
}
.mat-toolbar {
    display: flex;
    justify-content: space-between;
}
.toolbar-title {
    color: #fff;
    flex: 1;
    text-align: left;
    margin-left: 16px; /* Adjust the margin as needed */
}
.example-spacer {
    flex: 1;
}
.logout-button {
    color: #ffff;
    margin-right: 10px; /* Adjust the margin as needed */
}
.toggle-menubar{
    color: #fff;
}

/* Reduce title size on smaller screens */
@media (max-width: 768px) {
  .responsive-title {
    font-size: 1.2rem; /* Smaller font size for toolbar title */
  }
  
  .responsive-h4 {
    font-size: 1rem; /* Smaller font size for h4 */
  }
}

/* Further reduce on extra small screens */
@media (max-width: 576px) {
  .responsive-title {
    font-size: 1rem; /* Even smaller for extra small devices */
  }
  
  .responsive-h4 {
    font-size: 0.9rem; /* Further reduce for h4 */
  }
}

/* pwa */
.add-to-home-screen {
  width: 300px;
  position: fixed;
  bottom: -100px; /* Start off-screen */
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  z-index: 1000;
  display: flex;
  align-items: center;
  transition: transform 0.5s ease-in-out, bottom 0.5s ease-in-out;

}

.add-to-home-screen.show {
  bottom: 20px; /* Final position */
  transform: translateX(-50%) translateY(0);
}

.add-to-home-screen img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.add-to-home-screen button {
  background: #D4A136;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.add-to-home-screen button:hover {
  background:#662523;
}

.add-to-home-screen .close-btn {
  background: none;
  border: none;
  font-size: 20px;
  margin-left: auto;
  cursor: pointer;
}



/* pwa close */



/* .drawer-scroll::-webkit-scrollbar {
  width: 8px;
}

.drawer-scroll::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

.drawer-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
} */



.drawer-scroll {
  max-height: 100vh; /* Ensure the drawer does not exceed the viewport height */
  overflow-y: auto; /* Enable vertical scrolling */
  scrollbar-color: #D4A136 #662523; /* Thumb color and track color */
  /* scrollbar-width: thin; Thin scrollbar */
}

.drawer-scroll mat-nav-list {
  max-height: calc(100vh - 64px); /* Adjust height based on toolbar height if applicable */
  overflow-y: auto;
}

.mat-list-item {
  display: flex;
  align-items: center;
  padding: 8px 16px;
}


