<div class="container-fluid py-4">

    <div class="container" style="text-align: center; max-width: 100%; overflow-x: auto;">
      <h1 style="color: rgb(50, 50, 164);" > <strong> District wise AAM Health Facilities Performance</strong></h1>
    </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 table-container mb-4">
          <!-- <div class="text d-flex mt-3 mb-2">
            <button class="btn btn-outline-primary btn-sm" (click)="getAllDispatchPending()" >Drugs</button>
            <button class="btn btn-outline-primary btn-sm" style="margin-left: 3px;" (click)="getAllDispatchPending()">Consumables</button>
          </div> -->
          <div class="d-flex justify-content-between align-items-center mb-3">
            <div class="filter-field flex-grow-1">
              <input type="text" class="form-control" placeholder="Filter" (keyup)="applyTextFilter($event)">
            </div>
            <div class="export-menu-container">
              <button mat-button [matMenuTriggerFor]="exportMenu">Export</button>
              <mat-menu #exportMenu="matMenu">
                <button mat-menu-item
                  (click)="exporter.exportTable('xlsx', { fileName: 'AAM', sheet: 'AAM', Props: { Author: 'cgmsc' }})">Excel</button>
                
                <button mat-button (click)="exportToPDF()">PDF</button>
    
              </mat-menu>
            </div>
          </div>
    
          <div class="table-responsive">
            <table class="table table-bordered table-striped" mat-table matTableExporter [dataSource]="dataSource" #exporter="matTableExporter" matSort>
    
                     <!-- Serial Number Column -->
              <ng-container matColumnDef="sno">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> S.No </th>
                <td mat-cell *matCellDef="let element"> {{ element.sno }} </td>
              </ng-container>
    
              <!-- District Name Column -->
<ng-container matColumnDef="districtname">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> District </th>
    <td mat-cell *matCellDef="let element"> {{ element.districtname }} </td>
  </ng-container>
  
  <!-- Facility Name Column -->
  <ng-container matColumnDef="facilityname">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Facility Name </th>
    <td mat-cell *matCellDef="let element"> {{ element.facilityname }} </td>
  </ng-container>
  
  <!-- Opening Stock Column -->
  <ng-container matColumnDef="nosdrugsopstock">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Opening Stock Drugs </th>
    <td mat-cell *matCellDef="let element"> {{ element.nosdrugsopstock }} </td>
  </ng-container>
  
  <!-- Indent Column -->
  <ng-container matColumnDef="nosindent">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Indents </th>
    <td mat-cell *matCellDef="let element"> {{ element.nosindent }} </td>
  </ng-container>

 
  <ng-container matColumnDef="nositemsindented">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Items Indented </th>
    <td mat-cell *matCellDef="let element"> {{ element.nositemsindented }} </td>
  </ng-container>
  
  <!-- Receipt Column -->
  <ng-container matColumnDef="nosreceipt">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Receipts</th>
    <td mat-cell *matCellDef="let element"> {{ element.nosreceipt }} </td>
  </ng-container>
  <ng-container matColumnDef="nositemsreceipts">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Items Received </th>
    <td mat-cell *matCellDef="let element"> {{ element.nositemsreceipts }} </td>
  </ng-container>
  
  <!-- Header Row -->
  <tr mat-header-row *matHeaderRowDef="['sno','districtname','facilityname','nosdrugsopstock','nosindent','nositemsindented','nosreceipt','nositemsreceipts']"></tr>
  
  <!-- Data Rows -->
  <tr mat-row *matRowDef="let row; columns: ['sno','districtname','facilityname','nosdrugsopstock','nosindent','nositemsindented','nosreceipt','nositemsreceipts'];"></tr>
    
            </table>
          </div>      
          <mat-paginator [pageSizeOptions]="[10, 15, 30]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </div>
    