<div class="container mt-4">
    <div class="d-flex justify-content-center align-items-center ">
      <!-- <div class="card mx-2 shadow-lg" style="width: 52rem; margin: 10px; background-color: #f8f9fa; border-left: 5px solid #17a2b8;">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <p class="card-text" style="color: orange;"><strong>First Indent Opening:</strong> {{firstindentopening}}</p>
            </div>
            <div class="col-md-6 text-right">
              <p class="card-text" style="color: orange;"><strong>First Indent Closing:</strong> {{firstindentclosing}}</p>
            </div>
            <div class="col-md-6">
              <p class="card-text text-primary"><strong>Next Indent Time between:</strong> {{indentopeningdate}} to {{indentclosingdate}}</p>
  
            </div>
            <div class="col-md-6">
              <p class="card-text">
                <strong>regularopeningcase Value: {{ regularopeningcase }}</strong>
                <strong [style.color]="regularopeningcase === '1' ? 'green' : 'red'">
                  Indent Generation:
                </strong>
                <a [style.color]="regularopeningcase === '1' ? 'green' : 'red'">
                  {{ IndentGenStatus(regularopeningcase) }}
                </a>
              </p>
            </div>
            
            
          </div>
        </div>
      </div> -->
    </div>
    
    
    <div style="margin-bottom: 10px;">
      <button style="margin-bottom: 5px;" 
      type="button" 
      class="btn btn-primary"  
      (click)="openPopup()" 
      [disabled]="getIncompleteCount() >= 1">
      Indent To Other Facility
    </button>

<!-- Custom Popup Modal for Adding New Issue -->
<div class="custom-modal" *ngIf="isModalOpen">
<div class="custom-modal-content">
  <div class="custom-modal-header">
    <h5 class="modal-title">Add New Issue</h5>
    <button type="button" class="close-btn" (click)="closePopup()">×</button>
  </div>
  <!-- <p style="color:red; font-size:12px; text-align: start;" >Note : Last Consumption Date : </p> -->

  
  <div class="custom-modal" *ngIf="isModalOpen">
    <div class="custom-modal-content">
      <div class="custom-modal-header">
        <h5 class="modal-title"> <strong>Add New Indent to Other Facility</strong></h5>
        <button type="button" class="close-btn" (click)="closePopup()">×</button>
      </div>
  
      <!-- <p style="color:blue; font-size:12px; text-align: start;">Last Consumption Date: </p> -->
  
      <div class="custom-modal-body">
        
        <!-- Radio Button Group: Issue Type -->
        <div class="row mb-3">
          <!-- <label class="form-label">Indent To:</label> -->

           <!-- Select item dropdown -->
           <!-- <div class="form-group mb-3">
            <label for="itemSelect" class="form-label">
              <span class="text-danger">*</span>Indent To:
            </label>
            <select id="itemSelect" class="form-select" formControlName="facilityid" required (change)="onItemSelect($event)">
              <option value="" disabled selected>Select Facility</option>
              <option *ngFor="let item of otherFacDetails" [value]="item.facilityid" [value]="item.facilitytypeid" >
                {{ item.facname }}
              </option>
            </select>
          </div> -->
          <div class="form-group mb-3">
            <label for="itemSelect" class="form-label">
              <span class="text-danger">*</span>Indent To:
            </label>
            <select 
            id="itemSelect" 
            class="form-select" 
            formControlName="facilityid" 
            required 
            (change)="onItemSelect($event)">
            <option value="" disabled selected>Select Facility</option>
            <option *ngFor="let item of otherFacDetails" [value]="item | json">
              {{ item.facname }}
            </option>
          </select>
          
          </div>

          
          
          <!-- <div class="col">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="option" id="GeneralIssue" value="35713" >
              <label class="form-check-label" for="GeneralIssue">OPD</label>
            </div>
          </div>
          <div class="col">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="option" id="MitaninIssue" value="35714" >
              <label class="form-check-label" for="MitaninIssue">Mitanin</label>
            </div>
          </div> -->
          <!-- Error Message for Issue Type -->
          <!-- <div  class="text-danger">
            Please select an issue type.
          </div> -->
        </div>
  
        <!-- Date Picker: Select Date -->
          <!-- Indent Date input -->
      <div class="form-group mb-4">
        <label for="indentDate" class="form-label">Indent Date:</label>
        <div class="input-group">
          <input readonly  type="text" class="form-control" id="indentDate" formControlName="indentDt" [min]="minDate" [value]="currentDate">
          <span class="input-group-text bg-white">
            <i class="bi bi-calendar4" style="color: blue;"></i> <!-- Bootstrap icon for calendar -->
          </span>
        </div>
      </div>
        
  
        <!-- Remarks: Purpose/Mitanin Name -->
        <!-- <div class="mb-3">
          <label for="wrequestby" class="form-label">Remarks:</label>
          <input type="text" class="form-control" id="wrequestby"  placeholder="Enter Purpose/Mitanin name" required> -->
          <!-- Error Message for Remarks -->
          <!-- <div  class="text-danger">
            Remarks are required.
          </div> -->
        <!-- </div> -->
        
      </div>
  
      <div class="custom-modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closePopup()">Close</button>
        <button type="button" class="btn btn-success" (click)="submit()" >Generate</button>
      </div>
    </div>
  </div>
  
  <!-- <div class="custom-modal-footer">
    <button type="button" class="btn btn-secondary" (click)="closePopup()">Close</button>
    <button type="button" class="btn btn-primary" (click)="submit()">Submit</button>
  </div> -->
</div>
</div>
      <div class="table-responsive">
        <table class="table table-striped table-bordered">
          <thead class="thead-dark">
            <tr>
              <th scope="col">S.NO</th>
              <th scope="col">Indent No</th>
              <th scope="col">Indent DT</th>
              <th scope="col">To Facility</th>
              <th scope="col">Status</th>
              <th scope="col">Action</th>
              <!-- <th scope="col">NOC ID</th> -->
              <!-- <th scope="col">Items Requested</th> -->
              <!-- <th scope="col">Warehouse ID</th> -->
              <!-- <th scope="col">Request No.</th> -->
              <!-- <th scope="col">Indent ID</th> -->
              <!-- <th scope="col">Facility Receipt ID</th> -->
  
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of OtherFacilityIndentReport; let i = index">
                <td>{{ i + 1 }}</td>
                <!-- <td>{{ item.nocid }}</td> -->
                <td>{{ item.indentno }}</td>
                <td>{{ item.indentdate | date:'dd-MM-yyyy' }}</td>
                <td>{{ item.facilityname }}</td>
                <!-- <td>{{ item.whissuedt || 'N/A' }}</td> -->
                <td>
                  <span [ngClass]="{
                    'text-danger': item.status === 'I',
                    'text-success': item.status === 'C'
                  }">
                  <a>
                    {{ getStatusText(item.status) }}
                  </a>
                  <!-- {{ item.istatus }} -->
                  </span>
                </td>
                <td>
                  <button type="button" class="btn btn-primary btn-sm" (click)="WarehouseIndent(item)" [disabled]="item.status==='C'" 
                  >Show</button>
                  <button type="button" class="btn btn-primary btn-sm"  (click)="printINdent(item)"   style="margin-left:5px;"><i class="bi bi-printer-fill"></i></button>
                  <!-- <button type="button" class="btn btn-danger btn-sm" (click)="deleteIndent(item.nocid)"  style="margin-left:5px;"  [disabled]="item.istatus==='C'">Delete Indent</button> -->
                  <button type="button" class="btn btn-danger btn-sm" (click)="deleteIndent(item.indentid)" style="margin-left: 5px;" [disabled]="item.status === 'C'">
                    <i class="bi bi-trash"></i>
                  </button>
                  
                  
                </td>
                <!-- <td>{{ item.nositemsreq }}</td> -->
                <!-- <td>{{ item.warehouseid }}</td> -->
                <!-- <td>{{ item.reqno }}</td> -->
                <!-- <td>{{ item.indentid }}</td> -->
                <!-- <td>{{ item.facreceiptid || 'N/A' }}</td> -->
              </tr>
          </tbody>
        </table>
      </div>
    </div>
    