.form-check-input {
    transform: scale(1.3);     /* big checkbox */
    border: 2px solid #444;    /* darker border */
    margin-top: 4px !important;
  }
  
  .form-check-label {
    line-height: 1.4;
  }
  